

DATABASE_URL = 
SECRET_KEY = 
JWT_ALGORITHM =
ACESS_TOKEN_EXPIRE_MINUTE = 
#SENDER_EMAIL = 
#SENDGRID_API_KEY = 
RESET_PASSWORD_TOKEN_EXPIRE_MINUTE = 
MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_FROM = 
MAIL_PORT=
MAIL_SERVER = 
MAIL_STARTTLS =
MAIL_SSL_TLS =
USE_CREDENTIALS = 
VALIDATE_CERTS = 
EMAIL_VERIFY_URL=
EMAIL_RESET_LINK = 
REDIS_HOST =
REDIS_PORT = 
DECODE_RESPONSES = 